@using stockExchange.Extensions
@using stockExchange.Models
@model IEnumerable<stockExchange.Models.Portfolio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portfolio</h2>
<h3>You currently have: $@string.Format("{0:n}", Convert.ToDouble(User.Identity.GetCash()))</h3>

@if (!@Model.Any())
{
    <h4>
        You don't currently own any stocks!
        <br>
        <br>
        <a href="/Stocks" class="btn btn-primary btn-lg">Buy Stocks &raquo;</a>
        <br><br>
        <a href="..\Portfolio/Transactions" class="btn btn-primary btn-lg">View Transactions &raquo;</a>
    </h4>
}
else
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Type</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var portfolio in Model)
        {
            <tr>
                <td>@portfolio.TransactionType</td>
                <td>@portfolio.Symbol</td>
                <td>@portfolio.Price</td>
                <td>@portfolio.Amount</td>
                <td>@portfolio.Time</td>
                <td>@Html.ActionLink("Sell", "Details", "Stocks", new {symbol = portfolio.Symbol}, null)</td>
            </tr>
        }
    </tbody>
</table>
  
    <a href="..\Portfolio/Transactions" class="btn btn-primary btn-lg">View Transactions &raquo;</a>
    <br><br>
    <a href="/Stocks" class="btn btn-primary btn-lg">Buy Stocks &raquo;</a>

}